.header {
	position: relative;
	width: 100%;
	height: 5rem;
	padding: 0 0.8rem;
	background-color: #4EC0CE;
	line-height: 5rem;
	box-sizing: border-box;
}

.header > section > .icon, .header > section > i {
	opacity: 0.6;
}

.header h1 {
	display: inline-block;
	line-height: 5rem;
	font-size: 2.2rem;
	font-weight: 600;
	margin: 0 0.8rem;
	vertical-align: top;
}

#header-home-daily, #header-home-review {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

.header.is-header-review #header-home-review,
.header.is-header-daily #header-home-daily {
	display: block;
}

#home-panels-wrapper {
	position: absolute;
	top: 5rem;
	left: 0;
	right: 0;
	bottom: 0;
}

#home-panels-wrapper .scroller {
	position: relative;
	height: 100%;
	width: 200%;
}

#home-panels-wrapper .panel {
	position: relative;
	width: 50%;
	float: left;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	box-sizing: border-box;
}

#home-panels-wrapper .panel * {
	white-space: normal;
}

.menu-content .arrow-left {
	margin-left: 0;
}

.menu-content h1 {
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	height: 5rem;
	line-height: 5rem;
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
}

.circle-progress {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	margin: 1.2rem auto 3.2rem;
	background: #6FCE7E;
}

.circle-progress > div {
	color: #31673F;
	font-size: 1.8rem;
	opacity: 0.6;
}

.circle-progress > div hr {
	visibility: hidden;
	border: 0;
	margin: 0;
}

.progress-passed {
	opacity: 1;
	font-weight: bold;
	font-size: 3.4rem;
}

.progress-title {
	font-weight: bold;
	opacity: 1;
}

.menu-buttons {
	border-top: solid 0.1rem #E6E6E6;
	margin: 1.6rem 0;
	padding: 1.6rem 1.6rem 0;
	font-size: 1.8rem;
}

.menu-buttons button {
	font-size: 1.8rem;
	display: block;
}

#wrapper-indicator {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

#indicator {
	position: absolute;
	width: 50%;
	height: 0.4rem;
	background: #FFBD6B;
}

button.reset.button-circle {
	position: fixed;
	height: 5.6rem;
	width: 5.6rem;
	border-radius: 50%;
	bottom: 1.6rem;
	right: 1.6rem;
	background-image: url(img/practice_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px;
	background-color: #F99900; 
	z-index: 1;
	-webkit-transform: translate3d(0,100px,0);
	transform: translate3d(0,100px,0);
	-webkit-transition: transform 0.2s;
	transition: transform 0.2s;
}

.is-header-review ~ .content button.reset.button-circle {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

button.reset.button-circle:active {
	background-color: #FFBB61;
}

button.reset.button-circle[data-disabled="true"] {
	background-color: #ccc !important;
}