.wizard-background {
	background: #4EC0CE;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#wizard-wrapper {
	position: relative;
	top: -2.5rem;
	height: 100%;
	width: 500%;
}

.panel-wz {
	float: left;
	display: inline-block;
	width: 20%;
	height: 100%;
	vertical-align: top;
	box-sizing: border-box;
}

.wizard-card {
	position: relative;
	background: #fff no-repeat;
	width: 288px;
	height: 374px;
	border-radius: 1rem;
	background-position: center;
}

.wizard-card.socks {
	background-image: url(img/wizard/socks.png);
}

.wizard-card.place {
	background-image: url(img/wizard/place.png);
}

.wizard-card.brush {
	background-image: url(img/wizard/brush.png);
}

.wizard-card.improve {
	background-image: url(img/wizard/improve.png);
}

.wizard-card.entry {
	background-image: url(img/wizard/teacher.png);
}

.wizard-card h1 {
	font-size: 2.5rem;
	text-align: center;
	margin-top: 4.5rem;
	color: #6E6E6E;
}

.wizard-card p,
.wizard-card .wrapper-button {
	position: absolute;
	width: 100%;
	height: 4rem;
	bottom: 4rem;
	font-size: 2rem;
	line-height: 2.5rem;
	text-align: center;
	color: #919191;
}

.wizard-card p strong {
	font-weight: bold;
}

.wizard-card.entry p {
	top: 4rem;
	bottom: auto;
}

.wizard-card .wrapper-button {
	padding: 0 1.6rem;
	box-sizing: border-box;
}

.wrapper-counter-card {
	height: 5rem;
	position: absolute;
	width: 30rem;
	bottom: 0;
	left: 50%;
	margin-left: -15rem;
}

.wrapper-counter-card i {
	color: #fff;
}

.wrapper-counter-card i:active {
	opacity: 0.8;
}

#indicator {
	position: relative;
	width: 11rem;
	height: 1.5rem;
	margin: 1rem auto;
}

#dotty {
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background: #fff;
}


#indicator::before {
	content: "";
	position: absolute;
	height: 0.2rem;
	width: 100%;
	background: #fff;
	left: 0;
	top: 50%;
	margin-top: -0.1rem;
	opacity: 0.5
}